@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg{
    background: #e4e4e4ed;
    position: relative;
    height: 100vh;
    width: 100%;
}
