@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .bg{
    /* background-image: url(../images/pexels-stephan-seeber-1054218.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%; */
    background-color: #6d9773;
}
