header .navbar, .container-fluid, .navbar-nav{
    gap: 20px;
    color: #fff;
    height: 70px;
    background-color: #85b48c;
    padding: 0;
    display: flex;
    align-items: center;
}

header .navbar-brand{
    font-size: 1.8rem;
    font-family: 'Roboto Mono';
    color: #fff;
    font-weight: 500;
}

header .navbar .login{
    display: flex;
    justify-content: center;
    margin-left: 250px;
}

.nav-item .nav-link, .login a{
    color: #fff;
    padding: 5px;
}

.container-fluid a:hover {
    color: #0c3b2e;
}

header .search{
    display: flex;
    align-items: center;
    position: relative;
}

header .search #searchImg{
    cursor: pointer;
    color: #6d9773;
    padding: 6px;
    position: absolute;
    right: 0%;
    border-radius: 0 5px 5px 0;
}

header .collapse{
    text-decoration: none;
}

header #inputSearch{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
}