$primaryColor: #F54D64;
$bgContainer: #1c1c1c;
$bgForm: #222;
$whiteColor: #fff;
$blackColor: #000;
$bg: #23242a;
$linearGradientOne: #91DBA5;
$linearGradientTwo: #063A51;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  width: 100%;
  height: 100vh;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 380px;
  height: 440px;
  text-align: center;
  background: $bgContainer;
  border-radius: 10px;
  color: $whiteColor;
  overflow: hidden;
  

  &::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 440px;
    background: linear-gradient(0deg, transparent, transparent, $linearGradientOne, $linearGradientOne, $linearGradientOne);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  } 

  &::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 440px;
    background: linear-gradient(0deg, transparent, transparent, $linearGradientOne, $linearGradientOne, $linearGradientOne);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  } 

  @keyframes animate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 480px){
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }

  
  @media screen and (min-width: 481px) and (max-width: 768px){
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    width: 70%;
    height: 80%;
  }

  @media screen and (min-width: 1025px) and (max-width: 1200px){
    width: 70%;
    height: 80%;
  }

}

.bordalinha{
  position: absolute;
  top: 0;
  inset: 0;

  &::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 440px;
    background: linear-gradient(0deg, transparent, transparent, $linearGradientTwo, $linearGradientTwo, $linearGradientTwo);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
  } 

  &::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 440px;
    background: linear-gradient(0deg, transparent, transparent, $linearGradientTwo, $linearGradientTwo, $linearGradientTwo);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
  } 
}

form{
  inset: 4px;
  position: absolute;
  background: $bgForm;
  border-radius: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;

  @media screen and (max-width: 480px){
    font-size: 2.6rem;
  }

  @media screen and (min-width: 481px) and (max-width: 768px){
    font-size: 2.8rem;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px){
    font-size: 2.8rem;
  }

  @media screen and (min-width: 1025px) and (max-width: 1200px){
    font-size: 3rem;
  }
}

.saldo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 1.8rem;
    font-weight: 100;
    color: $whiteColor;

    @media screen and (max-width: 480px){
      font-size: 2.5rem;
    }

    @media screen and (min-width: 481px) and (max-width: 768px){
      font-size: 2.5rem;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px){
      font-size: 2.5rem;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px){
      font-size: 2.8rem;
    }
  
  }

  label {
    font-size: 1.5rem;
    font-weight: 100;

    @media screen and (max-width: 480px){
      font-size: 1.8rem;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px){
      font-size: 1.8rem;
    }
  }
}

.saque,
.deposito {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 10px;

    @media screen and (max-width: 480px){
      font-size: 1.6rem;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px){
      font-size: 1.8rem;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  @media screen and (max-width: 480px){
    flex-direction: column;
  }

  @media screen and (min-width: 481px) and (max-width: 768px){
    flex-direction: column;
  }

  input {
    width: 60%;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: $whiteColor;
    color: $blackColor;

    @media screen and (max-width: 480px){
      padding: 9px;
      font-size: 1.3rem;
    }

    @media screen and (max-width: 480px){
      width: 70%;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px){
      padding: 18px;
      font-size: 1.5rem;
    }

    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }

  a {
    display: block;
    padding: 10px;
    width: 25%;
    font-size: 1rem;
    text-decoration: none;
    color: $blackColor;
    border: none;
    border-radius: 10px;
    background-color: $whiteColor;
    text-align: center;
    position: relative;
    transition: all 0.35s;

    @media screen and (max-width: 480px){
      width: 70%;
    }

    @media screen and (min-width: 481px) and (max-width: 768px){
      width: 60%;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px){
      padding: 18px;
    }

    span {
      position: relative;
      z-index: 2;

      @media screen and (min-width: 1025px) and (max-width: 1200px){
        font-size: 1.2rem;
      }
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-image: linear-gradient(90deg, $linearGradientOne, $linearGradientTwo);
      border-radius: 10px;
      transition: all 0.25s;
    }

    &:hover {
      color: $whiteColor;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
