@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $thirtColor;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  color: $whiteColor;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

.saldo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 1.7rem;
    font-weight: 100;
  }

  label {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

.saque,
.deposito {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 10px;
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  input {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border: none;
  }

  a {
    display: block;
    padding: 9px;
    width: 22%;
    font-size: 15px;
    text-decoration: none;
    color: $thirtColor;
    border: 1px solid $thirtColor;
    text-align: center;
    position: relative;
    transition: all 0.35s;

    span {
      position: relative;
      z-index: 2;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $primaryColor;
      transition: all 0.35s;
    }

    &:hover {
      color: $blackColor;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
